@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.custom-container {
  max-width: 1140px;
  margin: 0 auto;
}
@media only screen and (max-width: 576px) {
  .custom-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-header {
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
  position: fixed;
  z-index: 100;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.main-header .header-top .text-item ul {
  margin-bottom: 0;
}
.main-header .header-top .text-item ul li {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  color: #fff;
}
.main-header .header-top .text-item ul li a {
  color: #fff;
}
.main-header .navbar {
  padding: 0px;
}
.main-header .navbar .navbar-toggler {
  border: none;
  position: relative;
  z-index: 1046;
}
.main-header .navbar .navbar-toggler .hamburger {
  position: relative;
  z-index: 1046;
}
.main-header .navbar .nav-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}
.main-header .navbar .nav-items ul li {
  margin-left: 10px;
}
.main-header .navbar .nav-items ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  outline: none;
}
.main-header .navbar .nav-items ul li .pages-nav:hover .page-content {
  visibility: visible;
}
.main-header .navbar .nav-items ul li .pages-nav .page-content {
  visibility: hidden;
  background-color: #fff;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 35px;
  width: 200px;
  height: 120px;
}
.main-header .navbar .nav-items ul li .pages-nav .page-content a {
  color: black;
  padding: 15px;
}
.main-header .navbar .nav-items ul li .pages-nav .page-content a:hover {
  color: goldenrod;
}

.header-colour {
  background-color: rgba(20, 2, 0, 0.8);
}

.offcanvas-backdrop {
  z-index: 99 !important;
}

.banner-area {
  background: url("/assets/asset 12.jpeg");
  background-size: cover;
}
@media only screen and (max-width: 576px) {
  .banner-area {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.banner-area .screen {
  height: 730px;
}
.banner-area .screen .banner-content {
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 130px;
}
@media only screen and (max-width: 576px) {
  .banner-area .screen .banner-content {
    margin-top: 180px;
  }
}
.banner-area .screen .banner-content h6 {
  font-size: 14px;
  line-height: 19.2px;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}
.banner-area .screen .banner-content h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2em;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 576px) {
  .banner-area .screen .banner-content h1 {
    font-size: 40px;
    line-height: 48px;
    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
  }
}
.banner-area .screen .banner-content .btn {
  background: #fff;
  border: 1px solid transparent;
  color: #222;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
  border: 1px solid #fff;
}
.banner-area .screen .banner-content .btn:hover {
  background: transparent;
  color: #fff;
}

.video-section {
  padding-bottom: 100px;
  padding-top: 40px;
  text-align: left;
}
.video-section .video-left {
  background: url(https://preview.colorlib.com/theme/coffee/img/video-bg.jpg) no-repeat center;
  background-size: cover;
  height: 350px;
  border-radius: 10px;
  position: relative;
  background-position-x: 50%;
  background-position-y: 50%;
  width: 45%;
}
@media only screen and (max-width: 576px) {
  .video-section .video-left {
    width: 100%;
  }
}
.video-section .video-left .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.9);
}
.video-section .video-left .play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.video-section .video-left .play-btn img {
  vertical-align: middle;
  border-style: none;
}
.video-section .video-right {
  padding-left: 114px;
  padding-right: 15px;
}
@media only screen and (max-width: 576px) {
  .video-section .video-right {
    margin-top: 50px;
    padding-left: 10%;
  }
}
.video-section .video-right h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #b68834;
  font-size: 12px;
  font-weight: 300;
}
.video-section .video-right h1 {
  padding-bottom: 20px;
  color: #222222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}
.video-section .video-right p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 16px;
  color: rgb(119, 119, 119);
  font-weight: 300;
}
.video-section .video-right p span {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 19px;
}

.menu-area {
  padding-top: 120px;
  padding-bottom: 120px;
  background: url(/assets/asset\ 14.jpeg);
}
.menu-area .row {
  margin: 0px;
}
.menu-area .menu-content {
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (max-width: 576px) {
  .menu-area .menu-content {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.menu-area .menu-content .title {
  text-align: center;
}
.menu-area .menu-content .title h1 {
  color: #222222;
  line-height: 43.2px;
  font-weight: 600;
  margin-bottom: 10px;
}
@media only screen and (max-width: 576px) {
  .menu-area .menu-content .title h1 {
    font-size: 36px;
    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
  }
}
.menu-area .menu-content .title p {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 300;
  color: rgb(119, 119, 119);
}
.menu-area .single-menu {
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(182, 136, 52, 0.2);
          box-shadow: 0px 10px 30px 0px rgba(182, 136, 52, 0.2);
  border-radius: 10px;
  padding: 30px 30px;
  margin-bottom: 30px;
}
.menu-area .single-menu .title-section {
  padding-bottom: 20px;
}
.menu-area .single-menu .title-section h4 {
  font-size: 18px;
  color: #222222;
  font-weight: 600;
  line-height: 21.6px;
}
.menu-area .single-menu .title-section p {
  color: rgb(182, 136, 52);
  font-size: 18px;
  font-weight: 600;
  line-height: 22.75px;
  text-align: left;
}
.menu-area .single-menu p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  text-align: left;
}

.pading {
  padding-left: unset;
  padding-right: unset;
}

.gallery-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.gallery-section .menu-content {
  padding-bottom: 60px;
}
.gallery-section .menu-content h1 {
  color: rgb(34, 34, 34);
  font-size: 36px;
  font-weight: 600;
  line-height: 43.2px;
  margin-bottom: 10px;
}
.gallery-section .menu-content p {
  color: rgb(34, 34, 34);
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  margin-bottom: 16px;
  text-align: center;
}
.gallery-section .gallery-img img {
  width: 100%;
  margin-bottom: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 576px) {
  .gallery-section .gallery-img {
    width: 100%;
  }
}
.gallery-section .gallery-img-right img {
  width: 100%;
  margin-bottom: 30px;
}

.review-section {
  background-color: #b68834;
  padding-top: 120px;
  padding-bottom: 120px;
}
.review-section .menu-content {
  padding-bottom: 60px;
}
.review-section .menu-content h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  line-height: 43.2px;
  margin-bottom: 10px;
}
.review-section .menu-content p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  margin-bottom: 16px;
  text-align: center;
}
.review-section .review-unit .title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.review-section .review-unit .title h4 {
  font-size: 18px;
  color: #fff;
  line-height: 21.6px;
}
.review-section .review-unit .title .star {
  margin-left: 20px;
}
.review-section .review-unit .title .star span .fa-solid {
  font-size: 14px;
  color: #fff;
}
.review-section .review-unit .title .star span .fa-solid.rating {
  color: orange;
}
.review-section .review-unit p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  margin-bottom: 16px;
  text-align: left;
  color: #fff;
}

.blog-area {
  padding-top: 120px;
  padding-bottom: 120px;
}
.blog-area .menu-content {
  padding-bottom: 60px;
}
.blog-area .menu-content h1 {
  color: rgb(34, 34, 34);
  font-size: 36px;
  font-weight: 600;
  line-height: 43.2px;
  margin-bottom: 10px;
}
.blog-area .menu-content p {
  color: rgb(34, 34, 34);
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  margin-bottom: 16px;
  text-align: center;
}
.blog-area .blog-unit img {
  border-radius: 10px;
  vertical-align: middle;
}
.blog-area .blog-unit ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.blog-area .blog-unit ul li {
  display: inline-block;
  font-size: 12px;
  margin: 20px 0px;
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 4px 20px;
  cursor: pointer;
}
.blog-area .blog-unit ul li a {
  text-decoration: none;
  color: #222;
}
.blog-area .blog-unit ul li a:hover {
  color: #fff;
}
.blog-area .blog-unit ul li:hover {
  background-color: #b68834;
  color: #fff;
}
.blog-area .blog-unit .heading {
  text-decoration: none;
}
.blog-area .blog-unit .heading h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  margin-bottom: 10px;
  text-align: left;
  color: rgb(34, 34, 34);
}
.blog-area .blog-unit p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  margin-bottom: 16px;
  text-align: left;
}
.blog-area .blog-unit .date {
  color: #222;
  font-size: 14px;
  font-weight: 500;
}

.footer-section {
  background: url(/assets/asset\ 15.jpeg) center;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 120px;
}
.footer-section .footer-left h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}
.footer-section .footer-left p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  margin-bottom: 16px;
  text-align: left;
}
.footer-section .footer-left .footer-text {
  padding-top: 20px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 300;
}
.footer-section .footer-left .footer-text .golden-text {
  color: rgb(182, 136, 52);
}
.footer-section .footer-middle {
  color: #fff;
}
.footer-section .footer-middle h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}
.footer-section .footer-middle p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  margin-bottom: 16px;
  text-align: left;
}
.footer-section .footer-middle .input-group {
  width: 80%;
}
.footer-section .footer-middle .input-group .form-control {
  border-radius: 0px;
  border: none;
}
.footer-section .footer-middle .input-group-text {
  background-color: rgb(182, 136, 52);
  color: #fff;
}
@media only screen and (max-width: 576px) {
  .footer-section .footer-right {
    margin-top: 40px;
  }
}
.footer-section .footer-right h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}
.footer-section .footer-right p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  margin-bottom: 16px;
  text-align: left;
}
.footer-section .footer-right .social-icon a {
  padding-right: 25px;
  color: #fff;
}
.footer-section .footer-right .social-icon a:hover {
  color: rgb(182, 136, 52);
}

.offcanvas.cap {
  background-color: rgba(0, 0, 0, 0.8);
}
.offcanvas .offcanvas-header {
  padding-bottom: 0px;
}
.offcanvas .offcanvas-header .btn-close {
  position: absolute;
  top: 23px;
  left: 330px;
  font-size: 20px;
}
.offcanvas .offcanvas-body {
  padding-top: 0px;
}
.offcanvas .offcanvas-body ul {
  padding-left: 0px;
}
.offcanvas .offcanvas-body ul li {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.offcanvas .offcanvas-body ul li a {
  font-size: 13px;
  font-weight: 700;
  line-height: 22.75px;
  text-decoration: none;
  color: #fff;
}

#accordionFlushExamplenew .accordion-button {
  color: white;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0px;
  font-size: 13px;
  font-weight: 700;
  line-height: 22.75px;
  text-decoration: none;
  color: #fff;
}
#accordionFlushExamplenew .accordion-item {
  background-color: transparent;
  color: #fff;
}
#accordionFlushExamplenew .propert {
  font-size: 13px;
  font-weight: 700;
  line-height: 22.75px;
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
}

#counter-section {
  margin-top: 100px;
}
#counter-section .single-counter .counter {
  color: #fff;
  font-size: 60px;
  font-weight: 100;
  line-height: 72px;
  text-align: left;
}
@media only screen and (max-width: 576px) {
  #counter-section .single-counter .counter {
    text-align: center;
  }
}
#counter-section .single-counter p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
}
@media only screen and (max-width: 576px) {
  #counter-section .single-counter p {
    text-align: center;
  }
}

.one {
  width: 6.866%;
}

.hamburger {
  position: relative;
  z-index: 1041;
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
          transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}