@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.custom-container {
  margin-left: 189.6px;
  margin-right: 189.6px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-header {
  background: rgba(20, 2, 0, 0.8);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
  position: fixed;
}

#header .header-top .text-item ul {
  margin-bottom: 0;
}
#header .header-top .text-item ul li {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  color: #fff;
}
#header .header-top .text-item ul li a {
  color: #fff;
}
#header .navbar {
  padding: 0px;
}
#header .navbar .nav-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}
#header .navbar .nav-items ul li {
  margin-left: 10px;
}
#header .navbar .nav-items ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  outline: none;
}

.banner-area {
  background: url("/assets/asset 12.jpeg");
  background-size: cover;
}
.banner-area .screen {
  height: 730px;
}
.banner-area .screen .banner-content {
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 130px;
}
.banner-area .screen .banner-content h6 {
  font-size: 14px;
  line-height: 19.2px;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}
.banner-area .screen .banner-content h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2em;
  margin-top: 20px;
  margin-bottom: 20px;
}
.banner-area .screen .banner-content .btn {
  background: #fff;
  border: 1px solid transparent;
  color: #222;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
  border: 1px solid #fff;
}
.banner-area .screen .banner-content .btn:hover {
  background: transparent;
  color: #fff;
}

.video-section {
  padding-bottom: 100px;
  padding-top: 40px;
  text-align: left;
}
.video-section .video-left {
  background: url(https://preview.colorlib.com/theme/coffee/img/video-bg.jpg) no-repeat center;
  background-size: cover;
  height: 350px;
  border-radius: 10px;
  position: relative;
  background-position-x: 50%;
  background-position-y: 50%;
  width: 45%;
}
.video-section .video-left .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.9);
}
.video-section .video-left .play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 900;
}
.video-section .video-left .play-btn img {
  vertical-align: middle;
  border-style: none;
}
.video-section .video-right {
  padding-left: 114px;
  padding-right: 15px;
}
.video-section .video-right h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #b68834;
  font-size: 12px;
  font-weight: 300;
}
.video-section .video-right h1 {
  padding-bottom: 20px;
  color: #222222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}
.video-section .video-right p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 16px;
  color: rgb(119, 119, 119);
  font-weight: 300;
}
.video-section .video-right p span {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 19px;
}

.menu-area {
  padding-top: 120px;
  padding-bottom: 120px;
  background: url(/assets/asset\ 14.jpeg);
}
.menu-area .menu-content {
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}
.menu-area .menu-content .title {
  text-align: center;
}
.menu-area .menu-content .title h1 {
  color: #222222;
  line-height: 43.2px;
  font-weight: 600;
  margin-bottom: 10px;
}
.menu-area .menu-content .title p {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 300;
  color: rgb(119, 119, 119);
}
.menu-area .single-menu {
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(182, 136, 52, 0.2);
          box-shadow: 0px 10px 30px 0px rgba(182, 136, 52, 0.2);
  border-radius: 10px;
  padding: 30px 30px;
  margin-bottom: 30px;
}
.menu-area .single-menu .title-section {
  padding-bottom: 20px;
}
.menu-area .single-menu .title-section h4 {
  font-size: 18px;
  color: #222222;
  font-weight: 600;
  line-height: 21.6px;
}
.menu-area .single-menu .title-section p {
  color: rgb(182, 136, 52);
  font-size: 18px;
  font-weight: 600;
  line-height: 22.75px;
  text-align: left;
}
.menu-area .single-menu p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  text-align: left;
}

.gallery-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.gallery-section .menu-content {
  padding-bottom: 60px;
}
.gallery-section .menu-content h1 {
  color: rgb(34, 34, 34);
  font-size: 36px;
  font-weight: 600;
  line-height: 43.2px;
  margin-bottom: 10px;
}
.gallery-section .menu-content p {
  color: rgb(34, 34, 34);
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  margin-bottom: 16px;
  text-align: center;
}
.gallery-section .gallery-img img {
  width: 100%;
  margin-bottom: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-section .gallery-img-right img {
  width: 100%;
  margin-bottom: 30px;
}

.review-section {
  background-color: #b68834;
  padding-top: 120px;
  padding-bottom: 120px;
}
.review-section .menu-content {
  padding-bottom: 60px;
}
.review-section .menu-content h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  line-height: 43.2px;
  margin-bottom: 10px;
}
.review-section .menu-content p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  margin-bottom: 16px;
  text-align: center;
}
.review-section .review-unit .title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.review-section .review-unit .title h4 {
  font-size: 18px;
  color: #fff;
  line-height: 21.6px;
}
.review-section .review-unit .title .star {
  margin-left: 20px;
}
.review-section .review-unit .title .star span .fa-solid {
  font-size: 14px;
  color: #fff;
}
.review-section .review-unit .title .star span .fa-solid.rating {
  color: orange;
}
.review-section .review-unit p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  margin-bottom: 16px;
  text-align: left;
  color: #fff;
}

.blog-area {
  padding-top: 120px;
  padding-bottom: 120px;
}
.blog-area .menu-content {
  padding-bottom: 60px;
}
.blog-area .menu-content h1 {
  color: rgb(34, 34, 34);
  font-size: 36px;
  font-weight: 600;
  line-height: 43.2px;
  margin-bottom: 10px;
}
.blog-area .menu-content p {
  color: rgb(34, 34, 34);
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  margin-bottom: 16px;
  text-align: center;
}
.blog-area .blog-unit img {
  border-radius: 10px;
  vertical-align: middle;
}
.blog-area .blog-unit ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.blog-area .blog-unit ul li {
  display: inline-block;
  font-size: 12px;
  margin: 20px 0px;
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 4px 20px;
  cursor: pointer;
}
.blog-area .blog-unit ul li a {
  text-decoration: none;
  color: #222;
}
.blog-area .blog-unit ul li a:hover {
  color: #fff;
}
.blog-area .blog-unit ul li:hover {
  background-color: #b68834;
  color: #fff;
}
.blog-area .blog-unit .heading {
  text-decoration: none;
}
.blog-area .blog-unit .heading h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  margin-bottom: 10px;
  text-align: left;
  color: rgb(34, 34, 34);
}
.blog-area .blog-unit p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  margin-bottom: 16px;
  text-align: left;
}
.blog-area .blog-unit .date {
  color: #222;
  font-size: 14px;
  font-weight: 500;
}

.footer-section {
  background: url(/assets/asset\ 15.jpeg) center;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 120px;
}
.footer-section .footer-left h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}
.footer-section .footer-left p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  margin-bottom: 16px;
  text-align: left;
}
.footer-section .footer-left .footer-text {
  padding-top: 20px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 300;
}
.footer-section .footer-left .footer-text .golden-text {
  color: rgb(182, 136, 52);
}
.footer-section .footer-middle {
  color: #fff;
}
.footer-section .footer-middle h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}
.footer-section .footer-middle p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  margin-bottom: 16px;
  text-align: left;
}
.footer-section .footer-middle .input-group {
  width: 80%;
}
.footer-section .footer-middle .input-group .form-control {
  border-radius: 0px;
  border: none;
}
.footer-section .footer-middle .input-group-text {
  background-color: rgb(182, 136, 52);
  color: #fff;
}
.footer-section .footer-right h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}
.footer-section .footer-right p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  margin-bottom: 16px;
  text-align: left;
}
.footer-section .footer-right .social-icon a {
  padding-right: 25px;
  color: #fff;
}
.footer-section .footer-right .social-icon a:hover {
  color: rgb(182, 136, 52);
}